h1{
	border-bottom: 3px purple solid;
}

.title{
	text-align: center;
	border-bottom: 1px purple solid;
}

#login{
	margin: 0 auto;
	text-align: center;
}

#home{
	margin: 0 auto;
}

#promptbar{
	position: static;
	width: 25%;
	bottom: 0;
}

#main{
	display: flex;
	flex-direction: rows;
	align-items: flex-start;
	overflow-x: scroll;
}

li{
	margin-left: -10px;
	margin-right: 10px;
}

.stage{
	/*
	position: relative;
	top: 30px;
	*/
	border: solid 1px purple;
	display: inline-block;
	flex-basis: auto | 120px; /*min length by min width*/
	/*margin-width: 5px;*/ /*or margin-right*/
}

#sidebar > ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 200px;
		background-color: #f1f1f1;
	}

#sidebar > li {
		display: block;
		color: #000;
		padding: 9px 16px;
		text-decoration: none;
	}

#sidebar > li:hover {
		background-color: #555;
		color: white;
	}
