{% extends "base.html" %}

{% block content %}
	<form method="POST" action="/addUser">
		<fieldset>
			<legend>New User</legend>
			<label for="firstname">First Name:</label><br />
			<input type="text" name="fname" id="firstame" /><br />
			<label for="lastname">Last Name:</label><br />
			<input type="text" name="lname" id="lastname" /><br />
			<label for="newusername">Username:</label><br />
			<input type="text" name="newuser" id="newusername" /><br />
			<label for="eemail">Email:</label><br />
			<input type="email" name="mail" id="eemail" /><br />
			<input type="submit" value="Submit" />
		</fieldset>
	</form>
{% endblock %}

