{% extends "base.html" %}

{% block content %}
<h1>Kanban Board</h1>
<div class=michael>
	<div class=sidebar></div>
	{% for stages in data.metadata %}
	<div class=stage>
		<p>{{ stages.name }} <br>
		<ul>{% for stage in data.stages %}
			<li> {{ stage.id }} : {{ stage.name }} <br>
				{{ stage.user }}, {{ stage.is_bug }}
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
	<div class=promptbar><!--css this to be absolute position on bottom-->
		<p>Message: promptbar</p>
		<form method="POST" action="/test"> <!--todo: change action based on what was clicked-->
			<input type="text" name="text" />
			<!--todo: hide text form for things that don't need it-->
			<input type="submit" value="submit" />
		</form>
	</div>
</div>
{% endblock %}
