{% extends "base.html" %}

{% block content %}
<h1>Kanban Board</h1>
<div class=home> <!--css flow this by row-->
	<div class=sidebar>
		<!--stuff like add, remove, split goes here.  buttons likely and some text-->
	</div>
	<div id="main">
	<!--css flow this by row-->
	{% for key, value in data.metadata.stages.items() %}
		<div class=stage>
			<p class = title>{{ value }} </p>
			<ul>
				{% for task in tasklist %}
					{% if task.stage.lower() == value.lower() %}
						<li>
							id={{ task.id }}, is bug? {{ task.bugged }} <br>
							task name= {{ task.name }} <br>
							user started= {{ task.lab_user }}
						</li>
						<form method="POST" action="/{{ data.metadata.project}}/info">
							<input type="submit" value="more info" />
							<input type="hidden" name="id" value="{{ task.id}}" />
						</form>
						<br>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
	</div>
	<div class=option><!--template for add, remove, split-->
		<p>Message: promptbar</p>
		<form method="POST" action="/-1/test"> <!--change to matching action-->
			<input type="text" name="text" />
			<input type="hidden" name="proj" value={{data.metadata.project}} />
			<!--todo: hide text form for things that don't need it-->
			<input type="submit" value="submit" />
		</form>
	</div>
</div>
{% endblock %}
