{% extends "base.html" %}

{% block content %}
	<script>
	function scriptLoad() {
		alert("Invalid login. Please try again.");
	}
	</script>
	<div id=login>
	<svg width="100" height="400">
		<rect width="100" height="400"
		style="fill:rgb(128,0,128);stroke-width:10,stroke:rgb(0,0,0" />
	</svg>
	<p>Please log in with your lab username</p>
	<form method="POST" action="/login">
		<fieldset>
			<legend>Log In</legend>
			<label for="username">Username:</label><br />
			<input type="text" name="user" id="username" /><br />
			<input type="submit" value="Log In" />
		</fieldset>
	</form>
	<button type="button" onclick="alert('Not done yet')">Add User</button>
	</div>
	{% if loginUser < 0 %}
		<div onload="scriptLoad()"></div>
	{% endif %}
{% endblock %}
