{% extends "base.html" %}

{% block meta %}
<script type="text/javascript">
function formAutoSubmit() {
	var form = document.getElementById("now");
	form.submit();
	window.setTimeout(formQutoSubmit, 0);
}
function dofunction(){
	formAutoSubmit()
}
</script>
{% endblock %}
{% block content %}
<form id=now method="POST" action="/projlist">
	<input type=hidden name=user value={{username}} />
	<input type=hidden name=userid value={{iduser}} />
	<input type=submit value="click here to continue" />
</form>
<div onLoad="dofunction()" >you're a user, congrats :D</div>
{% endblock %}
