<!DOCTYPE html>
<html lang=en>
<head>
<title> user is valid </title>
<meta charset=utf-8 />
<script type="text/javascript">
function formAutoSubmit() {
	var form = document.getElementById("now");
	form.submit();
	window.setTimeout(formQutoSubmit, 0);
}
function dofunction(){
	formAutoSubmit()
}
</script>
</head>
<body onLoad="dofunction()" >you're a user, congrats :D
<form id=now method="POST" action="/projlist">
	<input type=hidden name=user value={{username}} />
	<input type=hidden name=userid value={{iduser}} />
	<input type=submit value="click here to continue" />
</form>
</body>
</html>
