<!DOCTYPE html>
<html lang=en>
<head>
<title>PurpleTall Project Manager</title>
<meta charset=utf-8 />
</head>

<body>
        <form method="POST" action="login.cgi">
                <fieldset>
                        <legend>Log In</legend>
                        <label for="username">Username:</label><br />
                        <input type="text" name="username" id="username" /><br />
                        <input type="submit" value="Log In"></input>
                </fieldset>
        </form>
</body>
</html>
